.carrito {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f0f0;
}
.carrito-content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    background-color: #f0f0f0;
    padding: 1rem;
    margin-bottom: 2rem;
}

.carrito-content h1 {
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
}

.carrito-content-total {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
}


