.formProduct {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.formProduct-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.formProduct-form input {
    width: 100%;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #000000;
}
.formProduct-form button {
    width: 100%;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #000000;
    cursor: pointer;
    transition: all 0.3s ease;
}
.formProduct-form button:hover {
    background-color: #000000;
    color: #ffffff;
}
.error {
    color: red;
}
.success {
    color: green;
}