.productEnCarrito {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #3f3f3f;
    gap: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    color: #ffffff;
}
.productEnCarrito h1 {
    font-size: 1.2rem;
    font-weight: bold;
}
.productEnCarrito p {
    font-size: 1rem;
    font-weight: normal;
}
.productEnCarrito button {
    background-color: #242424;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.productEnCarrito-cantidad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}
.productEnCarrito-cantidad button {
    background-color: #242424;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}