.product {
    width: 90%;
    border: 1px solid #000000;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    background-color: #3f3f3f;

}

.product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    height: 100%;
}
.product-header h2 {
    font-size: 1.2rem;
    font-weight: bold;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.product-price {
    width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    .product-price button {
        background-color: #242424;
        color: #ffffff;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;
    }
}
.description {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background-color: #3f3f3f;
}
.description p {
    font-size: 1rem;
    font-weight: normal;
    color: #ffffff;
}
.description button {
    background-color: #ffffff;
    color: #242424;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}